# Build folders
/build/
/out/
/bin/
/lib/
/archive/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.ninja
*.ninja_deps
*.ninja_log

# Compiled files
*.o
*.obj
*.so
*.a
*.dll
*.exe
*.out

# VSCode settings (optional)
.vscode/

# Logs
*.log
*.tmp

# vcpkg のビルド生成物
/vcpkg_installed/
/vcpkg-manifest-install.log

# bgfx の生成物
/shaders_built/

# Ninja / CMake の補助
rules.ninja
TargetDirectories.txt

# IDE 系 (任意)
.idea/
.DS_Store
